---
---

@import "minima";

img { max-width: 100%; margin-bottom: 1em; }

body { padding: 1em; }

.container { display: flex; align-items: stretch; }

.navigation { width: 28%; }

.content { width: 70%; }